In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV files into DataFrames

In [2]:
# ecomonic freedom of the world file (data source: kaggle.com/datasets)
efw_file = "Resources/efw_cc.csv"
efw_data_df = pd.read_csv(efw_file)
efw_data_df.head()

,year,ISO_code,countries,ECONOMIC FREEDOM,rank,quartile,1a_government_consumption,1b_transfers,1c_gov_enterprises,1d_top_marg_tax_rate,...,3_sound_money,4a_tariffs,4b_regulatory_trade_barriers,4c_black_market,4d_control_movement_capital_ppl,4_trade,5a_credit_market_reg,5b_labor_market_reg,5c_business_reg,5_regulation
0,2016,ALB,Albania,7.54,34.0,1.0,8.232353,7.509902,8.0,8.0,...,9.553657,8.963556,7.489905,10.00000,6.406138,8.214900,7.098562,6.916278,6.705863,6.906901
1,2016,DZA,Algeria,4.99,159.0,4.0,2.150000,7.817129,0.0,4.5,...,7.253894,6.872533,2.481294,5.56391,1.590362,4.127025,5.100509,5.029513,5.676956,5.268992
2,2016,AGO,Angola,5.17,155.0,4.0,7.600000,8.886739,0.0,9.5,...,5.606605,6.989244,2.024949,10.00000,2.044823,5.264754,7.064905,4.560325,4.930271,5.518500
3,2016,ARG,Argentina,4.84,160.0,4.0,5.335294,6.048930,6.0,4.0,...,5.614336,6.421600,4.811105,0.00000,4.697482,3.982547,5.419820,5.151405,5.535831,5.369019
4,2016,ARM,Armenia,7.57,29.0,1.0,7.264706,7.748532,8.0,5.0,...,9.521940,8.547556,7.194410,10.00000,6.830998,8.143241,9.102046,6.234630,6.797530,7.378069

In [3]:
# gdp annual growth file (data source: https://query.data.world/s/ygxz7jq3k2thay5keu7vbpne6ss2bc)
gdp_file = "Resources/gdp-growth-csv.csv"
gdp_growth_df = pd.read_csv(gdp_file, sep=';')
gdp_growth_df.head()

,Country Code,Country Name,2013,2012,2011,2010,2009,2008,2007,2006,...,1970,1969,1968,1967,1966,1965,1964,1963,1962,1961
0,ABW,Aruba,NaN,NaN,NaN,NaN,"-5,653502086","-6,881302064","-3,654626242","2,355119443",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AND,Andorra,NaN,NaN,NaN,NaN,NaN,"3,570737186","1,4280715","6,789935147",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,"4,233773052","14,43474127","6,113685182","8,433290483","21,02064872","3,61136841","13,74020497","5,554137643",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AGO,Angola,"4,059427491","5,188654135","3,91856683","3,407643628","2,412911615","13,81709896","22,59310611","20,7350198",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALB,Albania,"1,300052716","1,299987206",3,"3,5","3,3","7,7","5,9",5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Transpose gdp data to column year

In [4]:
#drop country name 
gdp_growth_df.drop(['Country Name'], axis = 1, inplace=True) 
gdp_growth_df.head()


#transpose year columns using pandas melt
gdp_df = gdp_growth_df.melt(id_vars=['Country Code'])
gdp_df

#rename column variable and value column names
gdp_df.rename({'variable': 'year', 'value': 'gdp growth'}, axis=1, inplace=True)
gdp_df.head()

  Country Code  year   gdp growth
0          ABW  2013          NaN
1          AND  2013          NaN
2          AFG  2013  4,233773052
3          AGO  2013  4,059427491
4          ALB  2013  1,300052716

### Merge gdp and efw data with select columns

In [5]:
#view df types
efw_data_df.dtypes
gdp_df.dtypes

#change gdp year column dtype
gdp_df['year'] = gdp_df['year'].astype('int64')
gdp_df.dtypes

#merge data using an inner join
efw_gdp_merge = pd.merge(efw_data_df, gdp_df, left_on=['ISO_code','year'], right_on=['Country Code','year'])
efw_gdp_merge.head()

,year,ISO_code,countries,ECONOMIC FREEDOM,rank,quartile,1a_government_consumption,1b_transfers,1c_gov_enterprises,1d_top_marg_tax_rate,...,4b_regulatory_trade_barriers,4c_black_market,4d_control_movement_capital_ppl,4_trade,5a_credit_market_reg,5b_labor_market_reg,5c_business_reg,5_regulation,Country Code,gdp growth
0,2013,ALB,Albania,7.27,53.0,2.0,8.173529,7.539903,7.0,8.5,...,5.952681,10.000000,5.897336,7.705771,6.981638,6.647075,6.244828,6.624514,ALB,"1,300052716"
1,2013,DZA,Algeria,5.04,150.0,4.0,1.294118,7.817129,0.0,4.5,...,5.813670,5.272008,1.633012,4.895672,6.666667,4.629484,4.932422,5.409524,DZA,"2,699929229"
2,2013,AGO,Angola,5.25,148.0,4.0,3.329412,8.253906,0.0,9.5,...,3.629263,10.000000,1.788412,5.949441,8.731572,2.634848,4.575142,5.313854,AGO,"4,059427491"
3,2013,ARG,Argentina,4.88,153.0,4.0,5.752941,4.934996,6.0,4.0,...,5.253690,0.000000,4.084457,3.847959,6.794012,4.926167,4.825748,5.515309,ARG,"2,951206793"
4,2013,ARM,Armenia,7.69,17.0,1.0,8.223529,7.995040,10.0,6.0,...,6.600878,10.000000,6.819263,8.079647,9.463663,6.379253,6.774170,7.539029,ARM,"3,5"

In [6]:
#rename specific columns
efw_gdp_merge.rename({'ISO_code': 'iso_code', 'countries': 'country'
                     ,'ECONOMIC FREEDOM':'economic_freedom', 'gdp growth':'gdp_growth'}
                     , axis=1, inplace=True)
efw_gdp_merge.head()

,year,iso_code,country,economic_freedom,rank,quartile,1a_government_consumption,1b_transfers,1c_gov_enterprises,1d_top_marg_tax_rate,...,4b_regulatory_trade_barriers,4c_black_market,4d_control_movement_capital_ppl,4_trade,5a_credit_market_reg,5b_labor_market_reg,5c_business_reg,5_regulation,Country Code,gdp_growth
0,2013,ALB,Albania,7.27,53.0,2.0,8.173529,7.539903,7.0,8.5,...,5.952681,10.000000,5.897336,7.705771,6.981638,6.647075,6.244828,6.624514,ALB,"1,300052716"
1,2013,DZA,Algeria,5.04,150.0,4.0,1.294118,7.817129,0.0,4.5,...,5.813670,5.272008,1.633012,4.895672,6.666667,4.629484,4.932422,5.409524,DZA,"2,699929229"
2,2013,AGO,Angola,5.25,148.0,4.0,3.329412,8.253906,0.0,9.5,...,3.629263,10.000000,1.788412,5.949441,8.731572,2.634848,4.575142,5.313854,AGO,"4,059427491"
3,2013,ARG,Argentina,4.88,153.0,4.0,5.752941,4.934996,6.0,4.0,...,5.253690,0.000000,4.084457,3.847959,6.794012,4.926167,4.825748,5.515309,ARG,"2,951206793"
4,2013,ARM,Armenia,7.69,17.0,1.0,8.223529,7.995040,10.0,6.0,...,6.600878,10.000000,6.819263,8.079647,9.463663,6.379253,6.774170,7.539029,ARM,"3,5"

### Create new data with select columns

In [7]:
# display all column names
# list(efw_gdp_merge)

ewf_gdp_growth_df = efw_gdp_merge[['year','iso_code', 'country', 'economic_freedom','rank'
                                  ,'quartile', 'gdp_growth','1a_government_consumption'
                                  ,'1c_gov_enterprises','1d_top_marg_tax_rate','1_size_government'
                                  ,'2a_judicial_independence','2b_impartial_courts'
                                  ,'2c_protection_property_rights','2d_military_interference'
                                  ,'2e_integrity_legal_system','2f_legal_enforcement_contracts'
                                  ,'2g_restrictions_sale_real_property','2h_reliability_police'
                                  ,'2i_business_costs_crime','2j_gender_adjustment','2_property_rights'
                                  ,'3a_money_growth','3b_std_inflation','3c_inflation'
                                  ,'3d_freedom_own_foreign_currency','3_sound_money','4a_tariffs'
                                  ,'4b_regulatory_trade_barriers','4c_black_market'
                                  ,'4d_control_movement_capital_ppl','4_trade','5a_credit_market_reg'
                                  ,'5b_labor_market_reg','5c_business_reg','5_regulation']].copy()
ewf_gdp_growth_df.head()

,year,iso_code,country,economic_freedom,rank,quartile,gdp_growth,1a_government_consumption,1c_gov_enterprises,1d_top_marg_tax_rate,...,3_sound_money,4a_tariffs,4b_regulatory_trade_barriers,4c_black_market,4d_control_movement_capital_ppl,4_trade,5a_credit_market_reg,5b_labor_market_reg,5c_business_reg,5_regulation
0,2013,ALB,Albania,7.27,53.0,2.0,"1,300052716",8.173529,7.0,8.5,...,9.690942,8.973067,5.952681,10.000000,5.897336,7.705771,6.981638,6.647075,6.244828,6.624514
1,2013,DZA,Algeria,5.04,150.0,4.0,"2,699929229",1.294118,0.0,4.5,...,7.170857,6.864000,5.813670,5.272008,1.633012,4.895672,6.666667,4.629484,4.932422,5.409524
2,2013,AGO,Angola,5.25,148.0,4.0,"4,059427491",3.329412,0.0,9.5,...,6.727762,8.380089,3.629263,10.000000,1.788412,5.949441,8.731572,2.634848,4.575142,5.313854
3,2013,ARG,Argentina,4.88,153.0,4.0,"2,951206793",5.752941,6.0,4.0,...,6.247637,6.053689,5.253690,0.000000,4.084457,3.847959,6.794012,4.926167,4.825748,5.515309
4,2013,ARM,Armenia,7.69,17.0,1.0,"3,5",8.223529,10.0,6.0,...,9.176610,8.898444,6.600878,10.000000,6.819263,8.079647,9.463663,6.379253,6.774170,7.539029

### Create Separate Dataframes

In [8]:
#DF-1 (Main efw file w/ gdp growth)
efw_df = ewf_gdp_growth_df[['year','iso_code', 'country', 'economic_freedom','rank'
                            ,'quartile', 'gdp_growth']].copy()
efw_df.head()

   year iso_code    country  economic_freedom   rank  quartile   gdp_growth
0  2013      ALB    Albania              7.27   53.0       2.0  1,300052716
1  2013      DZA    Algeria              5.04  150.0       4.0  2,699929229
2  2013      AGO     Angola              5.25  148.0       4.0  4,059427491
3  2013      ARG  Argentina              4.88  153.0       4.0  2,951206793
4  2013      ARM    Armenia              7.69   17.0       1.0          3,5

In [9]:
#DF-2 (Country gov and tax data)
ctry_gov_df = ewf_gdp_growth_df[['year','iso_code','1a_government_consumption','1c_gov_enterprises'
                                 ,'1d_top_marg_tax_rate','1_size_government']].copy()
ctry_gov_df.head()

,year,iso_code,1a_government_consumption,1c_gov_enterprises,1d_top_marg_tax_rate,1_size_government
0,2013,ALB,8.173529,7.0,8.5,7.803358
1,2013,DZA,1.294118,0.0,4.5,3.402812
2,2013,AGO,3.329412,0.0,9.5,5.270829
3,2013,ARG,5.752941,6.0,4.0,5.171984
4,2013,ARM,8.223529,10.0,6.0,8.054642

In [10]:
#DF-3 (judicial/legal data)
ctry_legal_df = ewf_gdp_growth_df[['year','iso_code','2a_judicial_independence','2b_impartial_courts'
                                  ,'2c_protection_property_rights','2d_military_interference'
                                  ,'2e_integrity_legal_system','2f_legal_enforcement_contracts'
                                  ,'2g_restrictions_sale_real_property','2h_reliability_police'
                                  ,'2i_business_costs_crime','2j_gender_adjustment'
                                  ,'2_property_rights']].copy()
ctry_legal_df.head()

,year,iso_code,2a_judicial_independence,2b_impartial_courts,2c_protection_property_rights,2d_military_interference,2e_integrity_legal_system,2f_legal_enforcement_contracts,2g_restrictions_sale_real_property,2h_reliability_police,2i_business_costs_crime,2j_gender_adjustment,2_property_rights
0,2013,ALB,2.465462,3.271521,2.955938,8.333333,4.166667,4.387444,6.329976,4.540076,5.579572,0.945946,4.543782
1,2013,DZA,4.102089,3.400355,4.537739,5.000000,5.000000,4.386016,6.626692,5.121436,4.981421,0.810811,4.341494
2,2013,AGO,1.843129,1.974566,2.512364,3.333333,4.166667,2.302200,5.423011,3.016104,4.291197,0.864865,2.990266
3,2013,ARG,2.154742,2.100321,2.705497,7.500000,3.300000,4.772538,6.857195,2.800510,3.725329,0.810811,3.613184
4,2013,ARM,3.199651,3.556049,5.255962,5.833333,5.000000,5.318215,9.801963,4.990241,7.562824,1.000000,5.613138

In [11]:
#DF-4 (currency data)
ctry_currency_df = ewf_gdp_growth_df[['year','iso_code','2a_judicial_independence','2b_impartial_courts'
                                  ,'2c_protection_property_rights','2d_military_interference'
                                  ,'2e_integrity_legal_system','2f_legal_enforcement_contracts'
                                  ,'2g_restrictions_sale_real_property','2h_reliability_police'
                                  ,'2i_business_costs_crime','2j_gender_adjustment'
                                  ,'2_property_rights']].copy()
ctry_currency_df.head()

,year,iso_code,2a_judicial_independence,2b_impartial_courts,2c_protection_property_rights,2d_military_interference,2e_integrity_legal_system,2f_legal_enforcement_contracts,2g_restrictions_sale_real_property,2h_reliability_police,2i_business_costs_crime,2j_gender_adjustment,2_property_rights
0,2013,ALB,2.465462,3.271521,2.955938,8.333333,4.166667,4.387444,6.329976,4.540076,5.579572,0.945946,4.543782
1,2013,DZA,4.102089,3.400355,4.537739,5.000000,5.000000,4.386016,6.626692,5.121436,4.981421,0.810811,4.341494
2,2013,AGO,1.843129,1.974566,2.512364,3.333333,4.166667,2.302200,5.423011,3.016104,4.291197,0.864865,2.990266
3,2013,ARG,2.154742,2.100321,2.705497,7.500000,3.300000,4.772538,6.857195,2.800510,3.725329,0.810811,3.613184
4,2013,ARM,3.199651,3.556049,5.255962,5.833333,5.000000,5.318215,9.801963,4.990241,7.562824,1.000000,5.613138

In [12]:
ctry_market_df = ewf_gdp_growth_df[['year','iso_code','5a_credit_market_reg'
                                  ,'5b_labor_market_reg','5c_business_reg','5_regulation']].copy()
ctry_market_df.head()

,year,iso_code,5a_credit_market_reg,5b_labor_market_reg,5c_business_reg,5_regulation
0,2013,ALB,6.981638,6.647075,6.244828,6.624514
1,2013,DZA,6.666667,4.629484,4.932422,5.409524
2,2013,AGO,8.731572,2.634848,4.575142,5.313854
3,2013,ARG,6.794012,4.926167,4.825748,5.515309
4,2013,ARM,9.463663,6.379253,6.774170,7.539029

### Copy Dataframes to CSV

In [13]:
ewf_gdp_growth_df.to_csv("df_to_csv/ewf_gdp_growth_df.csv", encoding='utf-8', index=False)
efw_df.to_csv("df_to_csv/efw.csv", encoding='utf-8', index=False)
ctry_gov_df.to_csv("df_to_csv/ctry_govt.csv", encoding='utf-8', index=False)
ctry_legal_df.to_csv("df_to_csv/ctry_legal.csv", encoding='utf-8', index=False)
ctry_currency_df.to_csv("df_to_csv/ctry_currency.csv", encoding='utf-8', index=False)
ctry_market_df.to_csv("df_to_csv/ctry_market.csv", encoding='utf-8', index=False)

### Store JSON data into a DataFrame

In [14]:
# json_file = "../Resources/customer_location.json"
# customer_location_df = pd.read_json(json_file)
# customer_location_df.head()

### Clean DataFrame

In [15]:
ewf_gdp_growth_df.count()

year                                  3200
iso_code                              3200
country                               3200
economic_freedom                      2484
rank                                  2484
quartile                              2484
gdp_growth                            2968
1a_government_consumption             2617
1c_gov_enterprises                    2579
1d_top_marg_tax_rate                  2161
1_size_government                     2559
2a_judicial_independence              1684
2b_impartial_courts                   2037
2c_protection_property_rights         2105
2d_military_interference              2034
2e_integrity_legal_system             2144
2f_legal_enforcement_contracts        1868
2g_restrictions_sale_real_property    1851
2h_reliability_police                 1181
2i_business_costs_crime               1181
2j_gender_adjustment                  3140
2_property_rights                     2454
3a_money_growth                       2562
3b_std_inflation                      2599
3c_inflation                          2599
3d_freedom_own_foreign_currency       2586
3_sound_money                         2597
4a_tariffs                            2528
4b_regulatory_trade_barriers          1874
4c_black_market                       2593
4d_control_movement_capital_ppl       2614
4_trade                               2516
5a_credit_market_reg                  2587
5b_labor_market_reg                   2063
5c_business_reg                       1820
5_regulation                          2479
dtype: int64

In [16]:
new_ewf_gdp_growth_df=ewf_gdp_growth_df.dropna(how="any")
new_ewf_gdp_growth_df.count()

year                                  966
iso_code                              966
country                               966
economic_freedom                      966
rank                                  966
quartile                              966
gdp_growth                            966
1a_government_consumption             966
1c_gov_enterprises                    966
1d_top_marg_tax_rate                  966
1_size_government                     966
2a_judicial_independence              966
2b_impartial_courts                   966
2c_protection_property_rights         966
2d_military_interference              966
2e_integrity_legal_system             966
2f_legal_enforcement_contracts        966
2g_restrictions_sale_real_property    966
2h_reliability_police                 966
2i_business_costs_crime               966
2j_gender_adjustment                  966
2_property_rights                     966
3a_money_growth                       966
3b_std_inflation                      966
3c_inflation                          966
3d_freedom_own_foreign_currency       966
3_sound_money                         966
4a_tariffs                            966
4b_regulatory_trade_barriers          966
4c_black_market                       966
4d_control_movement_capital_ppl       966
4_trade                               966
5a_credit_market_reg                  966
5b_labor_market_reg                   966
5c_business_reg                       966
5_regulation                          966
dtype: int64

In [17]:
new_ewf_gdp_growth_df.head()

,year,iso_code,country,economic_freedom,rank,quartile,gdp_growth,1a_government_consumption,1c_gov_enterprises,1d_top_marg_tax_rate,...,3_sound_money,4a_tariffs,4b_regulatory_trade_barriers,4c_black_market,4d_control_movement_capital_ppl,4_trade,5a_credit_market_reg,5b_labor_market_reg,5c_business_reg,5_regulation
0,2013,ALB,Albania,7.27,53.0,2.0,"1,300052716",8.173529,7.0,8.5,...,9.690942,8.973067,5.952681,10.000000,5.897336,7.705771,6.981638,6.647075,6.244828,6.624514
1,2013,DZA,Algeria,5.04,150.0,4.0,"2,699929229",1.294118,0.0,4.5,...,7.170857,6.864000,5.813670,5.272008,1.633012,4.895672,6.666667,4.629484,4.932422,5.409524
2,2013,AGO,Angola,5.25,148.0,4.0,"4,059427491",3.329412,0.0,9.5,...,6.727762,8.380089,3.629263,10.000000,1.788412,5.949441,8.731572,2.634848,4.575142,5.313854
3,2013,ARG,Argentina,4.88,153.0,4.0,"2,951206793",5.752941,6.0,4.0,...,6.247637,6.053689,5.253690,0.000000,4.084457,3.847959,6.794012,4.926167,4.825748,5.515309
4,2013,ARM,Armenia,7.69,17.0,1.0,"3,5",8.223529,10.0,6.0,...,9.176610,8.898444,6.600878,10.000000,6.819263,8.079647,9.463663,6.379253,6.774170,7.539029

In [18]:
efw_df.count()

year                3200
iso_code            3200
country             3200
economic_freedom    2484
rank                2484
quartile            2484
gdp_growth          2968
dtype: int64

In [19]:
new_efw_df = efw_df.dropna(how="any")
new_efw_df.count()

year                2440
iso_code            2440
country             2440
economic_freedom    2440
rank                2440
quartile            2440
gdp_growth          2440
dtype: int64

In [20]:
ctry_gov_df.count()

year                         3200
iso_code                     3200
1a_government_consumption    2617
1c_gov_enterprises           2579
1d_top_marg_tax_rate         2161
1_size_government            2559
dtype: int64

In [21]:
new_ctry_gov_df=ctry_gov_df.dropna(how="any")
new_ctry_gov_df.count()

year                         2108
iso_code                     2108
1a_government_consumption    2108
1c_gov_enterprises           2108
1d_top_marg_tax_rate         2108
1_size_government            2108
dtype: int64

In [22]:
ctry_legal_df.count()

year                                  3200
iso_code                              3200
2a_judicial_independence              1684
2b_impartial_courts                   2037
2c_protection_property_rights         2105
2d_military_interference              2034
2e_integrity_legal_system             2144
2f_legal_enforcement_contracts        1868
2g_restrictions_sale_real_property    1851
2h_reliability_police                 1181
2i_business_costs_crime               1181
2j_gender_adjustment                  3140
2_property_rights                     2454
dtype: int64

In [23]:
new_ctry_legal_df=ctry_legal_df.dropna(how="any")
new_ctry_legal_df.count()

year                                  1026
iso_code                              1026
2a_judicial_independence              1026
2b_impartial_courts                   1026
2c_protection_property_rights         1026
2d_military_interference              1026
2e_integrity_legal_system             1026
2f_legal_enforcement_contracts        1026
2g_restrictions_sale_real_property    1026
2h_reliability_police                 1026
2i_business_costs_crime               1026
2j_gender_adjustment                  1026
2_property_rights                     1026
dtype: int64

In [24]:
ctry_currency_df.count()

year                                  3200
iso_code                              3200
2a_judicial_independence              1684
2b_impartial_courts                   2037
2c_protection_property_rights         2105
2d_military_interference              2034
2e_integrity_legal_system             2144
2f_legal_enforcement_contracts        1868
2g_restrictions_sale_real_property    1851
2h_reliability_police                 1181
2i_business_costs_crime               1181
2j_gender_adjustment                  3140
2_property_rights                     2454
dtype: int64

In [25]:
new_ctry_currency_df=ctry_currency_df.dropna(how="any")
new_ctry_currency_df.head()

,year,iso_code,2a_judicial_independence,2b_impartial_courts,2c_protection_property_rights,2d_military_interference,2e_integrity_legal_system,2f_legal_enforcement_contracts,2g_restrictions_sale_real_property,2h_reliability_police,2i_business_costs_crime,2j_gender_adjustment,2_property_rights
0,2013,ALB,2.465462,3.271521,2.955938,8.333333,4.166667,4.387444,6.329976,4.540076,5.579572,0.945946,4.543782
1,2013,DZA,4.102089,3.400355,4.537739,5.000000,5.000000,4.386016,6.626692,5.121436,4.981421,0.810811,4.341494
2,2013,AGO,1.843129,1.974566,2.512364,3.333333,4.166667,2.302200,5.423011,3.016104,4.291197,0.864865,2.990266
3,2013,ARG,2.154742,2.100321,2.705497,7.500000,3.300000,4.772538,6.857195,2.800510,3.725329,0.810811,3.613184
4,2013,ARM,3.199651,3.556049,5.255962,5.833333,5.000000,5.318215,9.801963,4.990241,7.562824,1.000000,5.613138

In [26]:
ctry_market_df.count()

year                    3200
iso_code                3200
5a_credit_market_reg    2587
5b_labor_market_reg     2063
5c_business_reg         1820
5_regulation            2479
dtype: int64

In [27]:
new_ctry_market_df=ctry_market_df.dropna(how="any")
new_ctry_market_df.count()

year                    1819
iso_code                1819
5a_credit_market_reg    1819
5b_labor_market_reg     1819
5c_business_reg         1819
5_regulation            1819
dtype: int64

### Connect to local database

In [28]:
rds_connection_string = "postgres:postgres@localhost:5432/economic_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [29]:
engine.table_names()

['ewf_gdp',
 'efreedom',
 'ctry_gov',
 'ctry_legal',
 'ctry_currency',
 'ctry_market']

### Use pandas to load csv converted DataFrame into database

In [30]:
new_ewf_gdp_growth_df.to_sql(name='ewf_gdp', con=engine, if_exists='append', index=False)
new_efw_df.to_sql(name='efreedom', con=engine, if_exists='append', index=False)
new_ctry_gov_df.to_sql(name='ctry_gov', con=engine, if_exists='append', index=False)
new_ctry_legal_df.to_sql(name='ctry_legal', con=engine, if_exists='append', index=False)
new_ctry_currency_df.to_sql(name='ctry_currency', con=engine, if_exists='append', index=False)
new_ctry_market_df.to_sql(name='ctry_market', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the database tables
* NOTE: can also check using pgAdmin

In [31]:
pd.read_sql_query('select * from ewf_gdp', con=engine).head()

,year,iso_code,country,economic_freedom,rank,quartile,gdp_growth,1a_government_consumption,1c_gov_enterprises,1d_top_marg_tax_rate,...,3_sound_money,4a_tariffs,4b_regulatory_trade_barriers,4c_black_market,4d_control_movement_capital_ppl,4_trade,5a_credit_market_reg,5b_labor_market_reg,5c_business_reg,5_regulation
0,2013,ALB,Albania,7.27,53.0,2.0,"1,300052716",8.173529,7.0,8.5,...,9.690942,8.973067,5.952681,10.000000,5.897336,7.705771,6.981638,6.647075,6.244828,6.624514
1,2013,DZA,Algeria,5.04,150.0,4.0,"2,699929229",1.294118,0.0,4.5,...,7.170857,6.864000,5.813670,5.272008,1.633012,4.895672,6.666667,4.629484,4.932422,5.409524
2,2013,AGO,Angola,5.25,148.0,4.0,"4,059427491",3.329412,0.0,9.5,...,6.727762,8.380089,3.629263,10.000000,1.788412,5.949441,8.731572,2.634848,4.575142,5.313854
3,2013,ARG,Argentina,4.88,153.0,4.0,"2,951206793",5.752941,6.0,4.0,...,6.247637,6.053689,5.253690,0.000000,4.084457,3.847959,6.794012,4.926167,4.825748,5.515309
4,2013,ARM,Armenia,7.69,17.0,1.0,"3,5",8.223529,10.0,6.0,...,9.176610,8.898444,6.600878,10.000000,6.819263,8.079647,9.463663,6.379253,6.774170,7.539029

In [32]:
pd.read_sql_query('select * from efreedom', con=engine).head()

   year iso_code    country  economic_freedom   rank  quartile   gdp_growth
0  2013      ALB    Albania              7.27   53.0       2.0  1,300052716
1  2013      DZA    Algeria              5.04  150.0       4.0  2,699929229
2  2013      AGO     Angola              5.25  148.0       4.0  4,059427491
3  2013      ARG  Argentina              4.88  153.0       4.0  2,951206793
4  2013      ARM    Armenia              7.69   17.0       1.0          3,5

In [33]:
pd.read_sql_query('select * from ctry_gov', con=engine).head()

,year,iso_code,1a_government_consumption,1c_gov_enterprises,1d_top_marg_tax_rate,1_size_government
0,2013,ALB,8.173529,7.0,8.5,7.803358
1,2013,DZA,1.294118,0.0,4.5,3.402812
2,2013,AGO,3.329412,0.0,9.5,5.270829
3,2013,ARG,5.752941,6.0,4.0,5.171984
4,2013,ARM,8.223529,10.0,6.0,8.054642

In [34]:
pd.read_sql_query('select * from ctry_legal', con=engine).head()

,year,iso_code,2a_judicial_independence,2b_impartial_courts,2c_protection_property_rights,2d_military_interference,2e_integrity_legal_system,2f_legal_enforcement_contracts,2g_restrictions_sale_real_property,2h_reliability_police,2i_business_costs_crime,2j_gender_adjustment,2_property_rights
0,2013,ALB,2.465462,3.271521,2.955938,8.333333,4.166667,4.387444,6.329976,4.540076,5.579572,0.945946,4.543782
1,2013,DZA,4.102089,3.400355,4.537739,5.000000,5.000000,4.386016,6.626692,5.121436,4.981421,0.810811,4.341494
2,2013,AGO,1.843129,1.974566,2.512364,3.333333,4.166667,2.302200,5.423011,3.016104,4.291197,0.864865,2.990266
3,2013,ARG,2.154742,2.100321,2.705497,7.500000,3.300000,4.772538,6.857195,2.800510,3.725329,0.810811,3.613184
4,2013,ARM,3.199651,3.556049,5.255962,5.833333,5.000000,5.318215,9.801963,4.990241,7.562824,1.000000,5.613138

In [35]:
pd.read_sql_query('select * from ctry_currency', con=engine).head()

,year,iso_code,2a_judicial_independence,2b_impartial_courts,2c_protection_property_rights,2d_military_interference,2e_integrity_legal_system,2f_legal_enforcement_contracts,2g_restrictions_sale_real_property,2h_reliability_police,2i_business_costs_crime,2j_gender_adjustment,2_property_rights
0,2013,ALB,2.465462,3.271521,2.955938,8.333333,4.166667,4.387444,6.329976,4.540076,5.579572,0.945946,4.543782
1,2013,DZA,4.102089,3.400355,4.537739,5.000000,5.000000,4.386016,6.626692,5.121436,4.981421,0.810811,4.341494
2,2013,AGO,1.843129,1.974566,2.512364,3.333333,4.166667,2.302200,5.423011,3.016104,4.291197,0.864865,2.990266
3,2013,ARG,2.154742,2.100321,2.705497,7.500000,3.300000,4.772538,6.857195,2.800510,3.725329,0.810811,3.613184
4,2013,ARM,3.199651,3.556049,5.255962,5.833333,5.000000,5.318215,9.801963,4.990241,7.562824,1.000000,5.613138

In [36]:
pd.read_sql_query('select * from ctry_market', con=engine).head()

,year,iso_code,5a_credit_market_reg,5b_labor_market_reg,5c_business_reg,5_regulation
0,2013,ALB,6.981638,6.647075,6.244828,6.624514
1,2013,DZA,6.666667,4.629484,4.932422,5.409524
2,2013,AGO,8.731572,2.634848,4.575142,5.313854
3,2013,ARG,6.794012,4.926167,4.825748,5.515309
4,2013,ARM,9.463663,6.379253,6.774170,7.539029